body {
    line-height:17px;
    color:#1d1f20;
    font-family:-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    font-style:normal;
    margin: 0%;
    padding: 0%;
    background: #f8f9fa !important;
}

html, body {
    width: 100% !important;
    min-width: 100% !important;
    height: 100% !important;
    min-height: 100% !important;
}

.grid-container {
    display: grid;
    column-gap: 25%;
    grid-template-columns: 0.25fr 0.4fr;
    //grid-auto-flow: row;
    
    min-height: 100%;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .grid-container {
        column-gap: 0% !important;
        grid-template-columns: 0.25fr 0.4fr;
    }
    .content {
        position: absolute;
        padding-left: 10%;
        padding-top: 70px !important;
        width: 80%;
    }
    #photo-container {
        position: relative;
        left: -15px;
    }
    #photo {
        position: relative;
        left: -30px;
    }
    
    #cv-buttons {
        left: 0 !important;
        padding-left: 0 !important;
    }
    .button {
        position: relative;
        width: 100% !important;
        margin-bottom: 10px !important;
    }
}

/*
 * Global content
 */

.content {
    /*display: none;*/
    padding-top: 10%;

    font-size: 16px;
    line-height: 40px;
    max-width: 100%;
}

/*
 * Index content
 */

.content-text {
    text-align: center;
    text-align: left;
    
    text-align:justify; word-break:keep-all;
}

#hi {
    font-size: 20px;
}
#name {
    font-size: 18px;
    font-weight: bold;
    --color: #0000ff;
}


#job {
    //display:inline-block;
    padding-top: 15px;
    
    text-align:justify; word-break:keep-all;
}

/*
 * Index photo
 */

#photo-container {
    padding-left: 20px;
    padding-bottom: 30px;
}

#photo {
    width: 400px;
    height: auto;
    --border-radius: 30%;
    --padding-bottom: 10px;
}

.mask2 {
  -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 50%);
  mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 50%);
  mask-size: 350px;
  mask-position: 40%;
}


/*
 * Index buttons
 */

.a-pdf {
    color: white !important;
    text-decoration: none;
}

.button {
	display: inline-block;
    margin: 0;
    padding: 0.75rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #aaa;
	color: #fff;
    background: #4392DD;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
    line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;

    margin-right: 20px;
    width: 150px;
}

.button:hover {
	opacity: 0.85;
}

.button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
	outline: thin dotted #444;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

#cv-buttons {
    position: relative;
    padding-top: 30px;
}
