#topnav {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--var-topnav-color, #0d0d0d);
  color: white;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-sizing: border-box;

  border-bottom: 1px solid white;
}

/* Remove any default link styles */
#topnav a {
    text-decoration: none; /* Removes the underline */
    color: inherit;        /* Links will inherit the text color */
}

#topnav-name {
  font-size: 20px;
  color: var(--var-background-light, #ffffff);
  margin-right: 40px;
}

#topnav-entries {
  display: flex;
  position: relative;

  margin-left: auto;
  gap: 40px;
}

/* Use class selector instead of ID */
.topnav-entry {

  font-size: 16px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}